@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Lato|Titillium+Web:600');


.header{
	background-color: rgba(7,7,7,.3);
	position: absolute;
	z-index: 2;
	width: 100%;
}


		.center-block-main{
			max-width: 1170px;
			margin: 0  auto;	
		}

	
		.logo{
			float: left;
			padding:8px 0 10px 0;
		}

	
		.menu{
			display: inline-block;
			float: right; 
		}

		.menu li{
			padding:30px 40px 30px 0;
			display: inline-block;
		}

		.menu li a {
			font-family: 'Titillium Web', sans-serif;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 0.78em;
			color: #fff; 
		}

		.menu li a:hover{
			color: #4bc5f8;
		}

.my-slider img{
	width: 100%;
}



.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }

.my-slider{
	margin-bottom: 0;

}
	
	.my-slider ul li{
		position: relative;
		color:#f45a4c;
		border-radius:50%;
		background-color: #F9F9F9;
	}

	.fix-text{
		position: absolute;
		top:35%;
		left: 45%;

	}

	.my-slider ul li  h2{
		font-size: 3em;
		color: #fff;
		font-family:'Lato';
		margin-bottom:10px; 
	}

	.my-slider ul li  p{
		color: #fff;
		font-size: .925em;
		font-family: lato;
		line-height:1.8;
		margin-bottom: 40px;
	}

	.my-slider ul li a{
		text-transform: uppercase;
		text-decoration: none;
		padding: 20px 45px;
		border: 1px solid #fff;
		border-radius: 5px;
		color:#fff;
	}

	 .my-slider ul li a:hover{
			color: #4bc5f8;
			border: 1px solid #A6DFF8;
		}

	.unslider-nav{
		
		max-width: 1170px;
		position: relative;
		top: -40px;
		margin: 0 auto 0 auto;
	}

.block3-fullbgup{
	background-color: #F9F9F9;
	overflow: hidden;	
}
	
	.block3-fullbgup h1{
		font: bold 2.875em Lato;
		color: #414042;
		text-align-last: center;
	}
		
	.block3-fullbgup p{
		font: 1.25em Lato;
		color: #646465;
		text-align-last: center;
		margin-bottom:50px;
	}
	


.block3-fullbg{
	background-color: #F9F9F9;
	border-bottom: 1px solid #E7E7E7;
	overflow:hidden;	
}
	.block3 article img{
		margin-bottom:20px;
	}

	.block3 article{
		float: left;
		width:30%;
		margin-left: 5%;
	}

	.block3 article:first-child{
		margin-left: 0;
	}
	
	.block3 article h1{
		color:#414042;
		font: bold 0.9375em Lato;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 10px;
	}

	.block3 article p{
		color:#646465;
		font: 0.8125em Lato;
		text-align: center;
		line-height: 1.7;
		margin-bottom: 70px;
	}


.block3-fullbgup1{
	overflow: hidden;	
}
	
	.block3-fullbgup1 h1{
		margin-top:40px;
		font: bold 2.875em Lato;
		color: #414042;
		text-align-last: center;
	}
		
	.block3-fullbgup1 p{
		font: 1.25em Lato;
		color: #646465;
		text-align-last: center;
		margin-bottom:50px;
	}

.block4{

}

	.block4 article{
		float: left;
		width: 23.5%;
		margin-left:2%;
	}

	.block4 article:first-child{
		margin-left: 0;
	}

	.block4 article img{
		margin: 0 auto 10px auto;
		border-radius:10px;
	}

	.block4 article p{
		color: #646465;
		font: 0.8125em Lato;
		line-height: 1.6;
		text-align: center;
		margin-bottom:70px;
	}

.video{
	background-image: url(../images/video.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	position: center top;
	padding: 180px 0 80px; 0;
}

	.vid{
		text-align: center;
	}
	.vid img{
		cursor: pointer;
		padding:10px 20px;
	}
	
	.vid h1{
		font-size: 3em;
		color: #fff;
		font-family:'Lato'; 
		margin-bottom:30px;
	}

	.vid p{
		color: #fff;
		font-size:1.125em;
		font-family: lato;
		line-height:1.8;
		margin-bottom: 200px;
		text-align: center;
	}

.download{
	width: 100%;
	background-color: #414042;
	padding:20px 0;
	text-align:center;
}
	
	.download h1{
		font: bold 3.4375em Lato;
		color: #fff;
		text-align: center;
		margin-bottom: 20px;
	}

	.download a{
		display:inline-block;
		padding:20px 30px;
		color: #414042;
		text-decoration: none;
		background-color:#4bcaff;
		border-radius: 10px;
		text-shadow: 0 0px 1px #fff,0 1px 1px #000;
		box-shadow: 0px 3px 1px  #277697;
	}

	.download a:hover{
		text-shadow: 0 0px 1px #ccc,0 1px 1px #000;
		box-shadow: 0px 3px 1px  #267293;

	}


.contact{
	position: relative;
}

	.contact .contactform{
		position: absolute;
		top: 10%;
		left:50%;
		margin-left:-160px;
		width:320px;
		background-color: rgba(100,206,238,.4);
		border-radius:10px;
		box-shadow: 3px 4px 10px -1px rgba(0,0,0,.5);
	}

	.contactform h1{
		text-transform: uppercase;
		font: bold 2.25em Lato;
		color: #fff;
		text-align: center;
		margin-top: 30px;
		margin-bottom:10px;

	}

	.contactform input{
		border:none;
		border-radius: 5px;
		margin-bottom: 15px;
		text-align: center;
		font: 0.875em Arial;
		color:#d3d3d3;
		padding:8px 0;
		width:255px;
		margin:0 auto 10 auto;
	}
	
	.contactform p{
		text-align: center;
	}
	
	.contactform textarea{
		font: 0.875em Arial;
		color:#d3d3d3;
		max-width:255px;
		min-width: 255px;
		min-height:200px;
		max-height: 200px;
		border: none;
		border-radius:5px;
		text-align: center;
		margin-bottom: 20px;
	}				
	
	.contactform button{
		border:none;
		border-radius: 5px;
		padding:10px 70px;
		margin-bottom: 15px;
		background-color: #414042;
		color:#72b3cc;
		border-bottom:1px solid #4B4B4B;
		text-shadow: 0 0px 1px #220E1A, 0 1px 1px #000000;
		box-shadow:0 3px 1px #000, 0 2px 1px #220e1a;
		font:600 0.9375em  lato;
		cursor: pointer;

	}

	.contactform button:hover{
		border:none;
		border-radius: 5px;
		padding:10px 70px;
		margin-bottom: 15px;
		background-color: #414042;
		color:#06668C;
		border-bottom:1px solid #4B4B4B;
		text-shadow: 0 0px 1px #333, 0 1px 1px #000000;
		box-shadow:0 3px 1px #222222, 0 2px 1px #220e1a;
		font:600 0.9375em  lato;

	}

	.footer{
		background-color: #414042;
		margin-top:-5px;
		padding:50px 0 ;
		font: 0.75em Lato;
		color: #808081;
	}


@media screen and (max-width: 1040px){

	.fix-text{
		position: absolute;
		top:25%;
		left: 45%;

	}

	.my-slider ul li  h2{
		font-size:2em;
		color: #fff;
		font-family:'Lato';
		margin-bottom:10px; 
	}

	.my-slider ul li  p{
		color: #fff;
		font-size: .625em;
		font-family: lato;
		line-height:1.8;
		margin-bottom: 30px;
	}

	.my-slider ul li a{
		text-transform: uppercase;
		text-decoration: none;
		padding: 10px 25px;
		border: 1px solid #fff;
		border-radius: 5px;
		color:#fff;
	}

	 .my-slider ul li a:hover{
			color: #4bc5f8;
			border: 1px solid #A6DFF8;
		}

}


@media screen and (max-width:700px){

	.block3 article{
		float: none;
		width:80%;
		margin-left: 10%;
	}

	.block3 article:first-child{
		margin-left: 10%;
	}

	.block3 article img{
		width:100%;

	}

	.block4 article{
		float: none;
		width:80%;
		margin-left:10%;
	}

	.block4 article:first-child{
		margin-left: 10%;
	}

	.block4 article img{
		width:80%;
		margin-left:10%;
	}
}







